<main class="main">

  <div class="main-element main-element-top bg-white">
    <p>Producten</p>
  </div>

  <div class="main-element bg-white">
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
  </div>

</main>
