<nav class="nav bg-header">

  <div class="left" [ngClass]="searchClass">
    <ul class="nav-list">
      <li class="nav-list-item">
        <!--<div class="icon_wrap">-->
        <i class="fa fa-shopping-basket icon"></i>
        <!--</div>-->
      </li>
      <li class="nav-list-item">
        <a [ngClass]="selectedItem == 'current' ? 'nav-list-item-selected' : 'link'" routerLink="/current" (click)="setSelectedItem('current')">Nu</a>
      </li>
      <li class="nav-list-item">
        <a [ngClass]="selectedItem == 'product' ? 'nav-list-item-selected' : 'link'" routerLink="" (click)="setSelectedItem('product')">Producten</a>
      </li>
      <li class="nav-list-item">
        <a [ngClass]="selectedItem == 'list' ? 'nav-list-item-selected' : 'link'" routerLink="/lists" (click)="setSelectedItem('list')">Lijsten</a>
      </li>
    </ul>
  </div>

  <div class="hamburger" (click)="toggleMenu()" >
    <a id="nav-toggle" [ngClass]="hamburgerClass" href="#"><span></span></a>
  </div>
  <div class="right nav-search" [ngClass]="searchClass">
    <form>
      <input class="nav-search-field" type="text" placeholder="Zoek..." aria-label="Zoek">
      <button class="nav-search-button" type="submit">Zoek</button>
    </form>
  </div>

</nav>
