<div class="sidebar bg-white">

  <ul class="side-list">
    <li class="side-list-item side-list-item-top"><a class="link" href="#">1 juni 2020</a></li>
    <li class="side-list-item"><a class="link" href="#">8 juni 2020</a></li>
    <li class="side-list-item"><a class="side-list-item-selected" href="#">15 juni 2020</a></li>
    <li class="side-list-item"><a class="link" href="#">21 juni 2020</a></li>
    <li class="side-list-item"><a class="link" href="#">28 juni 2020</a></li>
    <li class="side-list-item"><a class="link" href="#">3 juli 2020</a></li>
    <li class="side-list-item"><a class="link" href="#">11 juni 2020</a></li>
  </ul>

</div>
