<nav class="nav bg-header">

  <!-- <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
     <span class="navbar-toggler-icon"></span>
   </button>-->

  <div class="left">
    <ul class="nav-list">
      <li class="nav-list-item">
        <!--<div class="icon_wrap">-->
        <i class="fa fa-shopping-basket icon"></i>
        <!--</div>-->
      </li>
      <li class="nav-list-item">
        <a class="" href="#">Nu</a>
      </li>
      <li class="nav-list-item">
        <a class="" href="#">Lijsten<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-list-item">
        <a class="" href="#">Producten</a>
      </li>
    </ul>
  </div>

  <div class="right nav-search">
    <form>
      <input class="" type="text" placeholder="Zoek" aria-label="Zoek">
      <button class="" type="submit">Zoek</button>
    </form>
  </div>

</nav>

<!--

<P>https://scotch.io/tutorials/using-sass-with-the-angular-cli#toc-starting-an-angular-cli-project-with-sass</P>

<p>https://startbootstrap.com/</p>

<p>https://startbootstrap.com/templates/business-frontpage/</p>

-->
<div class="sidebar bg-white">
  <div>menu</div>
</div>

<main class="main">
  <div class="main-element main-element-top bg-white">
    <p>Producten</p>
  </div>
  <div class="main-element bg-white">
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
    <div class="row">
      <div class="row-label">Naam</div>
      <div class="row-value">Omschrijving</div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
