* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 1px;
}

@media screen and (max-width: 599px) {
    grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "nav-bar" "main" "aside" "footer";
    }
}

@media screen and (min-width: 600px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "header header" "nav-bar nav-bar" "aside main" "footer footer";
    }
}


@media screen and (min-width: 900px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "header header header" "nav-bar main aside" "footer footer footer";
    }
}

.header {
    /*grid-column: 1/4;*/
    background-color: chartreuse;
    grid-area: header;
}

.nav-bar {
    /*width: 100%;
    float: none;
    text-align: center;
    height: 40px;
    padding: 12px;*/
    /*grid-column: 1/4;*/
    background-color: lightgreen;
    grid-area: nav-bar;
}

.aside {
    /*float: left;
    width: 20%;
    height: 1000%;*/
    background-color: grey;
   /* grid-column: 1/2;*/
    grid-area: aside;
}

.main {
    grid-area: main;
}

.footer {
    background-color: mediumpurple;
    grid-area: footer;
}

h1 {
    background-color: beige;
    float: left;
    width: 47%;
    margin: 10px;
    /*   padding: 10px;
       float: left;

       margin-left: 10px;
       margin-top: 8px;*/
    /*  grid-column: 2/4;*/
}

