/* Small viewports and down*/
@media (max-width: $vp-md-min) {
  .nav {

    .nav-list {
      padding-left: 4px;
      .nav-list-item {

        .icon {
          display: none;
        }
      }
    }

    .nav-search {
      width: 100%;

      .nav-search-field {
        width: 90%;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 4px;
      }

      .nav-search-button {
        width: 90%;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }
}

/* Medium viewports and up */
@media (min-width: $vp-md-min) {

  .nav {
    display: flex;
    justify-content: space-between;

    .nav-list {
      display: flex;
      width: 80%;
    }

    .hamburger {
      display: none;
    }

  }
}

.nav {
  min-height: 70px;
  width: 100%;
  padding: 16px;

  .icon_wrap {
    background-color: lightgray;
    height: 2rem;
    width: 2rem;
    border-radius: 15%;
    padding: 0.40rem;
  }

  .nav-list {

    .nav-list-item {
      display: flex;
      font-size: $font-size-lg;
      padding-left: 24px;

      .link {
        color: $color-light-blue;
      }

      :hover {
        color: $color-dark-blue;
        text-decoration: underline;
      }

      .icon {
        color: $color-dark-blue;
        font-size: $font-size-xxl;
      }

      &-selected {
        color: $color-dark-blue;
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 30px;
    right: 60px;
  }

  .nav-search {
    margin-left: 16px;

    .nav-search-field {
      @include search;
    }

    .nav-search-button {
      margin-left: 16px;
      @include search;

    }

    .nav-search-button:hover {
      background-color: darkgray;
    }
  }
}

.bg-header {
  @include background-header;
}

