/* Background color */
$bg-color: #f2f2f2;


/*$color1: #ff5959;
$color2: #facf5a;
$color3: #49beb7;
$color4: #085f63;

$main-color: $color3;
$main-text-color: $color1;
$main-input-color: $color3;
$main-input-text-color: $color4;

$navbar-color: $color4;
$navbar-input-color: $color3;
$navbar-input-text-color: $color1;
$navbar-link-text-color: $color3;*/



/*
$color1: #ffb174;
$color2: #ee5a5a;
$color3: #b31e6f;
$color4: #22eaaa;
$color5: light-grey;

$main-color: $color5;
$main-text-color: $color2;
$main-input-color: $color5;
$main-input-text-color: $color4;

$navbar-color: $color3;
$navbar-input-color: $color3;
$navbar-input-text-color: $color4;
$navbar-link-text-color: $color4;
*/

/*$color1: #f3e9d2;
$color2: #88d498;
$color3: #1a936f;
$color4: #114b5f;
$color5: light-grey;*/

/*
$color1: #fff5f5;
$color2: #b2d430;
$color3: #1a8b9d;
$color4: #000000;
$color5: grey;
*/

$color1: #fbfae1;
$color2: #f1efb9;
$color3: #04dead;
$color4: #0e9577;
$color4a: #0fa383;
$color5: white;


$main-color: $color5;
$main-text-color: $color4;
$main-text-color-light: $color4a;
$main-input-color: $color5;
$main-input-text-color: $color3;

$navbar-color: $color3;
$navbar-link-text-color: $color1;
$navbar-input-color: $color1;
$navbar-input-text-color: $color4;
$navbar-input-button-color: $color4;
$navbar-input-button-text-color: $color1;


$font-color-light: #7f8487;

/* Font size*/
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;

/* Color */
$color-light-blue: rgba(62, 74, 242, 0.86);
$color-dark-blue: #0000ff;

/* Viewport sizes */
$vp-sm-max: 575.99px;
$vp-sm-min: 576px;
$vp-md-min: 768px;
$vp-lg-min: 992px;
$vp-xl-min: 1200px;




