/* Background color */
$bg-color: #f2f2f2;
$font-color-light: #7f8487;

/* Font size*/
$font-size-sm: 16px;
$font-size-md: 20px;

/* Viewport sizes */
$vp-sm-max: 575.99px;
$vp-sm-min: 576px;
$vp-md-min: 768px;
$vp-lg-min: 992px;
$vp-xl-min: 1200px;




