/* Background color */
/*$bg-color: rgba(23, 162, 184, 0.5);*/
$bg-color: rgba(23, 162, 184, 0.5);

/* Viewport sizes */
$vp-sm-max: 575.99px;
$vp-sm-min: 576px;
$vp-md-min: 768px;
$vp-lg-min: 992px;
$vp-xl-min: 1200px;


