@import './_variables';
@import './_mixins';
@import './_navbar';
@import './_sidemenu';
@import './_main';
@import './_defaults';
@import "./_hamburger";

/* small viewports and down */
@media (max-width: $vp-md-min) {
  body {
  }
}

/* Medium viewports and up */
@media (min-width: $vp-md-min) {
  body {

  }
}


html, body {
  height: 100%;
}

.body {
  font: {
    family: Roboto, sans-serif;
    size: 16px;
  }
  background-color: $bg-color;
}

.hidden {
  display: none;
  transition: all 500ms ease-in-out;
}
