@import './_variables';
@import './_mixins';
@import './_navbar';
@import './_sidemenu';
@import './_main';
@import './_defaults';

/* Extra small viewports */
@media (max-width: $vp-sm-max) {
  body {

  }
}

/* Small viewports */
@media (min-width: $vp-sm-min) {
  body {

  }
}

/* Medium viewports */
@media (min-width: $vp-md-min) {
  body {

  }
}

/* Large viewports */
@media (min-width: $vp-lg-min) {
  body {
  }
}

/* Extra large viewports */
@media (min-width: $vp-xl-min) {

}


html, body {
  height: 100%;
}

.body {
  font: {
    family: Roboto, sans-serif;
    size: 16px;
  }
  background-color: $bg-color;
}
